* {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
body {
  min-width: 320px;
  min-height: 100vh;
}
